*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    font-family: 'Roboto Mono';
}

/** Banner img**/

.banner img{
    height: 700px;
    width: 100%;
    background-image: cover;
}

/** Definitions **/


.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
}

.top-depth {
    box-shadow: 0 2px 6px -3px black;
    }

.bottom-depth{
    box-shadow: 2px 0 4px 0px black;
}


/*** Backgrounds **/
.bg-primary {
    background-color: purple
}
.bg-white {
    background-color: #fff;
}


/*** Font Colours **/
.fg-primary{
    color: purple
}


/** Utilities **/
.padding-30{
    padding: 30px;
}                           
.padding-30-top-bottom{
    padding:50px 0px 50px 0px;
}
.margin-top {
    margin-top: 50px;
}

.center-align{
    text-align: center;
}


/**** Header **/

h1{
    margin-top: 40px;
    font-size: 60px;
}

P, h3{
    word-spacing: 2px;
    line-height: 40px;
    font-size: 30px;
    font-family:'permanent marker';
}

h2{
    font-family: 'permanent marker';
    color: purple;
    font-size: 40px;
}

.wrapper {
    width: 100%;
    height: 100px;
    padding: 0px;
}

.wrapper ul .logo{
    line-height:100px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'permanent marker';
    font-size: 40px;
}
.wrapper ul li{
    float: right;
    list-style: none;
    line-height: 56px;
    margin-left: 20px;
    padding:22px;
}
.wrapper ul li.active{
    background: purple;
    color: white;
}
.wrapper ul li.active a{
    color: white;
}
.wrapper ul li  a{
    text-decoration: none;
}


/** Image responsiveness **/
@media only screen and (max-width: 600px) {
    .card-image img{
        width: 300%;
    }
  }

/** Card design **/
  .card-container {
    width: 300px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    transition: all .2s;
  }
  
  .card-container:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .card-image img {
    width: 100%
  }
  
  .card-body {
    position: relative;
    padding: 25px 35px;
    text-align: center;
    min-height: 105px;
  }
  
  .card-body-heading {
    font-weight: 400;
    color: #5f6368;
    font-size: .95rem;
    line-height: 25px;
    padding: 15px 5px;
  }

  .card-body a{
    text-decoration: none;
  }


  /*** GRID ***/
  .flex {
    display: flex;
    justify-content: space-evenly;      
  }


/** Footer Responsiveness **/
@media only screen and (max-width: 600px) {
.footer ul{
    display: flex;
    flex-direction: column;
    }
}


/** login and signup **/

.login-container,
.signup-container{
    margin: 0 auto;
    width: 30%;
    max-width: 1280px;
    margin-top: 10%;
}

input[type=text],
input[type=password],
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}


button{
    width: 100%;
    background-color: purple;
    padding: 12px 20px;
    margin: 12px 0;
}

.signup-container a,
.login-container a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}


/** Update page **/

.update-card,
.update-edit{
    width: 30%;
    height: 20%;
}

.update-card{
    margin-top: 3%;
    margin-bottom: 10%;
}

.update-container{
    display: flex;
    flex-direction: row;
}

.update-edit button{
    color: white;
    padding: 20px 200px;
    font-size: 20px;
}


/** Agent-font **/

.agent-font a{
    color: purple;
}
.agent-font a span{
    color: white;
}

.banner-tag h1{
    background: purple;
    position: absolute;
    left: 2%;
    top: 70%;
    color: white;
    font-size: 120px;
}

/** Listings **/

.listings-update ol li{
    word-spacing: 2px;
    margin: 30px;
    font-family: 'Roboto mono';
    font-size: 17px;
}